.questions {
	display: flex;
	justify-content: space-between;
}
.questionsLeft {
	width: 44.51vw;
}

.questionsRight {
	width: 44.51vw;
	background: url('../../assets/img/question.png') center center / cover
		no-repeat;
}

@media screen and (max-width: 480px) {
	.questionsRight {
		display: none;
	}
	.questionsLeft {
		width: 100%;
	}
}
