.modal {
	background: rgba(25, 9, 7, 0.8);
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100000;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: all ease 0.6s;
}

.open {
	visibility: visible;
	opacity: 1;
}

.modalBody {
	background: #fff;
	border-radius: 1.17vw;
	padding: 2.56vw 3.66vw;
	position: relative;
}

.closeBtn {
	position: absolute;
	right: 2.56vw;
	top: 2.56vw;
	cursor: pointer;
	z-index: 1;
	width: 1.24vw;
	height: 2.54vw;
	display: flex;
	justify-content: center;
	align-items: center;
	svg {
		width: 1.24vw;
		height: 1.24vw;
	}
}

@media screen and (max-width: 480px) {
	.modalBody {
		padding: 20px 20px;
		border-radius: 15px;
	}
	.closeBtn {
		right: 15px;
		top: 15px;
		width: 12px;
		height: 32px;
		svg {
			width: 12px;
			height: 12px;
		}
	}
}
