@import 'react-accessible-accordion/dist/fancy-example.css';
body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
$white: #ffffff;
$black: #170807;
$brown: #1a0907;
$blue: #0060ac;
$red: #ff1616;

$font-mont: 'Montserrat', sans-serif;
$font-lora: 'Lora', serif;

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
	transform: rotate(0);
	content: '-';
}
.accordion__button {
	background: transparent;
	font-family: $font-lora;
	font-size: 1.76vw;
	line-height: 2.64vw;
	font-weight: 700;
	position: relative;
	padding: 1.46vw 2.93vw 1.46vw 0;

	&::before {
		transform: rotate(0);
		content: '+';
		border: none;
		position: absolute;
		right: 0;
		top: 1.24vw;
		font-size: 1.76vw;
		font-family: $font-lora;
	}
	&:hover {
		background-color: transparent;
	}
}
.accordion__item {
	border-bottom: 1px solid $black;
	.accordion__panel {
		padding: 0 0 1.46vw;
		p {
			font-size: 1.32vw;
			line-height: 2.2vw;
			& > * {
				&:not(:last-child) {
					margin-bottom: 1.46vw;
				}
			}
		}
	}
}

.accordion__button:before {
	display: inline-block;
	height: 1.1vw;
	width: 1.1vw;
	margin: 0;
}

.accordion {
	border: none;
}

.new-adults-s {
	min-height: 56.22vw;
	display: flex;
	margin-top: 4vw;
	position: relative;
	overflow: hidden;
	.container {
		justify-content: center;
		align-items: center;
		flex: 1;
		display: flex;
	}
	h2 {
		color: #fff;
		text-align: center;
		margin-bottom: 2.56vw;
		position: relative;
		z-index: 1;
	}
	a {
		display: flex;
		align-items: center;
		font-family: 'montserrat';
		font-weight: 700;
		font-size: 1.46vw;
		line-height: 1.76vw;
		color: #fff;
		position: relative;
		z-index: 1;
		svg {
			margin-right: 1.46vw;
			height: 3.66vw;
			width: 3.66vw;
		}
	}
	.img-pos {
		position: absolute;
		object-fit: cover;
	}
	.img1 {
		left: -4.7vw;
		top: 2.71vw;
		width: 21.89vw;
		height: 14.06vw;
	}
	.img2 {
		left: 50%;
		transform: translateX(-50%);
		top: -3vw;
		width: 13.32vw;
		height: 17.64vw;
	}
	.img3 {
		right: -2vw;
		top: 2.71vw;
		width: 20.35vw;
		height: 17.64vw;
	}
	.img4 {
		left: -4vw;
		bottom: 3vw;
		width: 19.91vw;
		height: 17.64vw;
	}
	.img5 {
		left: 50%;
		transform: translateX(-50%);
		bottom: -5vw;
		height: 17.64vw;
		width: 24.08vw;
	}
	.img6 {
		right: -2.3vw;
		bottom: 3vw;
		width: 20.35vw;
		height: 17.64vw;
	}
}

.page404 {
	&-s {
		height: calc(100vh - 6vw);
		display: flex;
	}
	&--left {
		flex-basis: 50%;
		height: 100%;
		background: url('./assets/img/404.png') center center / cover no-repeat;
	}
	&--right {
		flex-basis: 50%;
		padding: 0 5vw;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		h4 {
			font-weight: 700;
			font-size: 1.76vw;
			line-height: 2.64vw;
			font-weight: 700;
			margin-bottom: 2.2vw;
		}
		a {
			margin-top: 3.66vw;
			font-weight: 700;
			font-size: 1.17vw;
			line-height: 1.76vw;
			font-family: 'Montserrat';
			color: #170807;
			svg {
				margin-right: 1.46vw;
				width: 3.66vw;
				height: 3.66vw;
			}
		}
	}
}
.error-par {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 3.66vw;
	span {
		&:first-child {
			font-size: 1.46vw;
			line-height: 1.83vw;
			text-transform: uppercase;
			font-weight: 700;
			border-bottom: 0.15vw solid #000;
			padding-bottom: 0.59vw;
		}
		&:last-child {
			font-size: 4.69vw;
			line-height: 4.69vw;
			font-weight: 700;
			padding-top: 0.59vw;
		}
	}
}

.list-loader {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 2vw;
	svg {
		width: 31.3%;
		height: 11.71vw;
		margin-bottom: 2vw;
	}
	& > * {
		&:not(:nth-child(3n)) {
			margin-right: 3%;
		}
	}
}

.news-loader {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 2vw;
	svg {
		width: 24%;
		height: 31.26vw;
	}
}
.news-header-loader {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 2vw;
	svg {
		width: 49.3%;
		height: 31.26vw;
		margin-bottom: 7%;
	}
	& > * {
		&:not(:nth-child(2n)) {
			margin-right: 1%;
		}
	}
}
.programs-loader {
	width: 100%;
	padding-top: 2vw;
	svg {
		width: 100%;
		height: 6.3vw;
		margin-bottom: 1%;
	}
}
.accordion-loader {
	width: 100%;
	svg {
		width: 100%;
		height: 6.3vw;
		margin-bottom: 1%;
	}
}
.br-mob {
	display: none;
}
.rotate-s {
	display: none;
}
.rotate-img {
	width: 340px;
}
.dn-480 {
	display: block;
}
.db-480 {
	display: none;
}
.video {
	&::after {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 50%;
		height: 10%;
		cursor: pointer;
		z-index: 20;
	}
}

.pulse-container {
	width: 5.86vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pulse-bubble {
	width: 1.1vw;
	height: 1.1vw;
	border-radius: 50%;
	background-color: #1a0907;
}

.pulse-bubble-1 {
	animation: pulse 0.4s ease 0s infinite alternate;
}
.pulse-bubble-2 {
	animation: pulse 0.4s ease 0.2s infinite alternate;
}
.pulse-bubble-3 {
	animation: pulse 0.4s ease 0.4s infinite alternate;
}
@keyframes pulse {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0.25;
		transform: scale(0.75);
	}
}
.btn-with-anim {
	height: 4.39vw;
}
.social-links {
	li {
		display: flex;
		align-items: center;
	}
}
@media screen and (max-width: 980px) {
	.main-s {
		max-height: 500px;
	}
}
@media screen and (max-width: 480px) {
	.btn-with-anim {
		height: 40px;
	}
	.pulse-bubble {
		width: 15px;
		height: 15px;
	}
	.pulse-container {
		width: 80px;
	}
	.new-adults-s {
		background: url('./assets/img/join-us_mob.png') center center / cover
			no-repeat;
		img {
			display: none;
		}
	}
	.rotate-s {
		padding: 50px 0 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		h5 {
			color: #170807;
			font-size: 24px;
			line-height: 30px;
			text-align: center;
			margin-bottom: 35px;
		}
		p {
			text-align: center;
			line-height: 30px;
		}
	}
	.important-date-s {
		display: none;
	}
	.main-s {
		max-height: auto;
		min-height: 750px;
	}
	.par {
		font-size: 18px;
		line-height: 24px;
	}
	.br-mob {
		display: block;
	}
	h1 {
		font-size: 30px;
		line-height: 48px;
	}
	.main {
		padding-bottom: 50px;
		h1,
		p {
			text-align: center;
		}
		p {
			margin-top: 30px;
		}

		.video {
			right: auto;
			left: 50%;
			transform: translateX(-50%);
			height: auto;
			top: 10%;
			width: 370px;
		}
	}
	.main-nav {
		display: none;
	}
	.header-body {
		height: 70px;
		& > a {
			font-size: 10px;
			line-height: 16px;
			img {
				width: 47px;
				height: 30px;
				margin-right: 10px;
			}
		}
		ul {
			& > * {
				&:not(:last-child) {
					display: none;
				}
			}
		}
	}
	.menu-burger {
		width: 20px;
		height: 12px;
		span {
			width: 100%;
			height: 2px;
			&::after {
				width: 10px;
				height: 2px;
				bottom: 4.5px;
			}
			&::before {
				width: 100%;
				height: 2px;
				bottom: 10px;
			}
		}
	}
	.header-body a {
		gap: 15px;
	}
	#burger-link span {
		font-weight: 600;
		font-size: 14px;
		line-height: 18px;
	}
	.header-nav__right {
		display: none;
	}
	.header-nav__left {
		flex-basis: 100%;
		padding-top: 90px;
		justify-content: space-between;
		display: flex;
		flex-direction: column;
	}
	.header-nav--list {
		margin: auto 0;
	}
	.header-nav--list li {
		display: flex;
		justify-content: center;
	}
	.header-nav--list li a {
		font-size: 18px;
		line-height: 24px;
	}
	.header-nav--list > *:not(:last-child) {
		margin-bottom: 22px;
	}
	.social-links li a svg {
		max-width: 20px;
		max-height: 20px;
	}
	.header-nav {
		.social-links {
			gap: 25px;
			margin-top: 40px;
			display: flex;
			justify-content: center;
		}
	}
	.all-rights {
		text-align: center;
		font-size: 14px;
		line-height: 12px;
		padding-bottom: 20px;
		margin-top: 50px;
	}
	.header-nav.is-open {
		.container,
		.header-nav__body {
			height: 100%;
		}
	}
	h2.big {
		font-size: 22px;
		line-height: 34px;
	}
	.new-adults-s {
		padding: 150px 0;
		h2 {
			margin-bottom: 30px;
			br {
				display: none;
			}
		}
		a {
			font-size: 16px;
			line-height: 24px;
			svg {
				height: 35px;
				width: 35px;
				margin-right: 15px;
			}
		}
	}
	.dn-480 {
		display: none;
	}
	.db-480 {
		display: block;
	}
	h2 {
		font-size: 24px;
		line-height: 30px;
	}
	.accordion__button {
		font-size: 20px;
		line-height: 25px;
		padding: 20px 20px 20px 0;
	}
	.accordion__item .accordion__panel p {
		line-height: 24px;
		font-size: 16px;
	}
	.accordion__item .accordion__panel {
		padding-bottom: 20px;
	}
	.accordion__button::before {
		font-size: 24px;
		height: 10px;
		width: 10px;
		top: 20px;
	}
	#questions {
		padding: 50px 0 70px;
	}
	.last-news-s {
		padding: 0 0 70px;
	}
	.news-list {
		grid-template-columns: repeat(1, auto);
		margin-top: 30px;
		gap: 35px;
		.news-item__info {
			h3 {
				line-height: 25px;
				font-size: 20px;
				margin-bottom: 15px;
			}
			p {
				font-size: 16px;
				line-height: 24px;
			}
		}
		.news-item__img {
			height: 230px;
			margin-bottom: 20px;
		}
	}
	.footer-btns {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 40px;
		gap: 30px;
		a {
			gap: 20px;
			font-size: 16px;
			line-height: 24px;
			svg {
				height: 35px;
				width: 35px;
			}
		}
	}
	.footer-nav {
		display: flex;
		margin-top: 50px;
		flex-direction: column;
		align-items: center;
		padding: 35px 0;
		& > * {
			&:not(:last-child) {
				margin-bottom: 50px;
			}
		}
		ul li {
			display: flex;
			justify-content: center;
			font-size: 16px;
			line-height: 24px;
			text-align: center;
			&:first-of-type {
				margin-bottom: 20px;
			}
		}
		ul {
			& > *:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}
	.footer-bottom {
		padding-top: 35px;
		padding-bottom: 30px;
	}
	.menu-burger.active span {
		transform: scale(-1) translateY(-5px);
	}
	.about-block__right {
		display: none;
	}
	.about-block {
		grid-template-columns: 1fr;
	}
	.about-info-address {
		padding: 20px 10px;
		p {
			text-align: center;
		}
	}
	.par-sm {
		font-size: 14px;
		line-height: 20px;
	}

	.achievement-s {
		background: url('./assets/img/join-us_mob.png') center center / cover
			no-repeat;
		padding: 70px 0 70px;
		margin-bottom: 50px;
		img {
			display: none;
		}
	}
	.achievement-block {
		margin-top: 40px;
		ul {
			gap: 25px;
			li {
				gap: 10px;
				span:last-child {
					font-size: 14px;
					line-height: 20px;
				}
				span:first-child {
					font-size: 20px;
					line-height: 26px;
				}
			}
		}
		a {
			margin-top: 50px;
			span {
				font-size: 16px;
				line-height: 24px;
			}
			svg {
				width: 35px;
				height: 35px;
			}
			gap: 20px;
		}
	}
	.about-s,
	.info-tabs-s {
		padding: 30px 0 70px;
	}
	.info-tabs__header--body {
		flex-direction: column;
		.search {
			order: 0;
			width: 100%;
			margin-bottom: 15px;
			input {
				width: 100%;
				font-size: 14px;
				line-height: 18px;
				height: 40px;
				padding: 10px 40px 10px 15px;
			}
			svg {
				height: 15px;
				width: 15px;
				right: 15px;
			}
		}
		.info-tabs__btn {
			order: 1;
			width: 100%;
			.btn {
				width: 100%;
				height: 40px;
				gap: 10px;
				svg {
					width: 10px;
					height: 10px;
				}
				span {
					font-size: 14px;
					line-height: 18px;
				}
			}
		}
	}
	.filter-body {
		border-top: none;
		ul {
			padding: 15px 0;
			gap: 10px;
			display: grid;
			grid-template-columns: 1fr 1fr;
			&:last-child {
				padding-bottom: 15px;
			}
			li {
				display: block;
				align-items: center;
				justify-content: center;
				label {
					display: block;
					padding: 10px 15px;
					font-size: 14px;
					line-height: 18px;
					text-align: center;
				}
			}
		}
	}
	ul.list-item {
		li {
			grid-template-columns: 1fr 100px;
			padding: 10px 0;
			span {
				font-size: 14px;
				line-height: 18px;
				&:last-child {
					display: flex;
					justify-content: flex-end;
					font-size: 12px;
					line-height: 16px;
				}
			}
			&:first-child span {
				font-size: 12px;
				line-height: 16px;
			}
		}
	}
	.tab-modal-wrap {
		width: 100%;
		border-radius: 0;
	}
	.tab-modal__header--wrap {
		padding: 20px 0;
	}
	.tab-modal__header--top {
		a {
			&:first-child svg {
				width: 13px;
				height: 13px;
			}
			&:last-child svg {
				width: 13px;
				height: 13px;
			}
			span {
				font-size: 14px;
				line-height: 20px;
			}
		}
	}
	.tab-modal__header--bottom {
		flex-wrap: wrap;
		justify-content: flex-start;
		h3 {
			flex-basis: 100%;
		}
		a {
			margin-top: 30px;
			span {
				font-size: 16px;
				line-height: 24px;
			}
			svg {
				width: 35px;
				height: 35px;
			}
			gap: 20px;
		}
	}
	h3 {
		font-size: 20px;
		line-height: 28px;
	}
	.tab-modal__header--wrap {
		height: 400px;
	}
	html {
		line-height: 24px;
		font-size: 16px;
	}
	.page404--left {
		display: none;
	}
	.page404--right {
		flex-basis: 100%;
	}
	.error-par span:first-child {
		font-size: 14px;
		line-height: 20px;
		padding-bottom: 5px;
	}
	.error-par span:last-child {
		font-size: 34px;
		line-height: 44px;
		padding-top: 5px;
	}
	.page404--right h4 {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 60px;
	}
	.page404--right a {
		margin-top: 40px;
		font-size: 16px;
		line-height: 24px;
		svg {
			margin-right: 20px;
			height: 35px;
			width: 35px;
		}
	}
	.error-par {
		margin-bottom: 40px;
	}
	.page404-s {
		height: calc(100vh - 70px);
		display: flex;
	}
	.about-main-s,
	.info-programs-main-s,
	.resources-main-s,
	.contacts-main-s {
		height: 200px;
	}
	.resources-tabs-s {
		padding: 10px 0 70px;
	}
	.accordion__item .accordion__panel p > *:not(:last-child) {
		margin-bottom: 20px;
	}
	.ac-panel > *:not(:last-child) {
		margin-bottom: 20px;
	}
	.list-text li {
		padding-left: 20px;
		margin-bottom: 16px;
	}
	.pdf-link {
		margin-top: 10px;
		padding: 10px;
		max-width: 100%;
		gap: 10px;
		svg {
			height: 16px;
			width: 16px;
		}
		span {
			font-size: 12px;
			line-height: 18px;
			width: 100%;
		}
	}
	.contacts__left ul li > *:not(:last-child) {
		margin-bottom: 10px;
	}
	.contacts {
		flex-wrap: wrap;
		&__left {
			width: 100%;
			justify-content: center;
			display: flex;
			padding: 0;
			margin-bottom: 40px;
			ul {
				width: 100%;
				gap: 10px;
				li {
					padding: 20px;
					width: 100%;
					h6,
					a,
					p {
						font-size: 16px;
						line-height: 24px;
					}
				}
			}
		}
		&__right {
			padding: 0;
			width: 100%;
			max-width: 100%;
			border: none;
		}
	}
	.contacts-s {
		padding: 50px 0 70px;
	}
	.form-inp label {
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 10px;
	}
	.form > *:not(:last-child) {
		margin-bottom: 20px;
	}
	.form-inp input,
	.form-text textarea {
		padding: 15px 17px;
		font-size: 16px;
		line-height: 24px;
	}
	.form-text textarea {
		height: 150px;
	}
	.form button {
		gap: 20px;
		span {
			font-size: 16px;
			line-height: 24px;
			color: #000000;
		}
		svg {
			height: 35px;
			width: 35px;
			margin: 0;
		}
	}
	.news-open-info {
		width: 100%;
		h4 {
			font-size: 24px;
			margin-bottom: 10px;
			line-height: 36px;
		}
		.publish-date {
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 30px;
		}
		p {
			font-size: 16px;
			line-height: 24px;
		}
	}
	.news-open-info-s img {
		padding: 10px 0;
	}
	.news-open-info-s {
		padding: 30px 0 70px;
	}
	.contacts__right p {
		margin-bottom: 30px;
	}
}
